
/* demo links */

/* colors:
#19D
#FFF
#F5F5F5
#EEE
#333
#08C
*/

body {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	background-color:#F5F5F5;
	font-family:"Quicksand", helvetica neue;
}

select {
	margin:10px;
}

header {
	font-family:"Quicksand", helvetica neue;
	font-weight:100;
	color:#333;
	background-color:#fff;
	opacity:1;
	padding:5px;
	letter-spacing:1px;
	box-shadow: 0px 2px 4px #ccc;
}

h1, button, footer {
	font-family:"Quicksand", helvetica neue;
	font-weight:100;
	color:white;
}

h1 {
	margin:5px;
	font-size:17pt;
	letter-spacing:1px;
}

button {
	border:solid 1px #f5f5f5;
	padding:5px 24px;
	background-color:#19d;
	color:#fff;
	font-size:12pt;
	cursor:pointer;
	width:180px;
	text-align:center;
    -webkit-transition: border .2s;
    transition: border .2s;
    margin-top:2px;
    outline:none;
}
button:hover {
	border:solid 1px #19d;
}
button:active {
	background-color:#08c;
	color:#fff;
}



/* RACKS */


/* dragzone */

#dragzone {
	position:fixed;
	left:0px;
	top:33px;
	border:solid 1px #ccc;
	background-color:#f7f7f7;
	z-index:5;
	max-width:120px;
}

.dragitem {
	padding:4px;
	text-align:left;
	font:300 10pt courier;
	margin:3px;
	background-color:#fff;
	min-width:100px;
	border:solid 1px #bbb;
	overflow:hidden;
}

.ugen {
	border-left:solid 3px #0c7;
}

.fx {
	border-left:solid 3px #777;
}


/* dropzone */

.dropzone {
	width:430px;
	display:block;
	background-color:none;
	float:left;
	margin:3px;
}

#dropzone0 {
}

.emptyrack {
	margin-top:10px;
	font:300 17px courier;
	color:#fff;
	text-align:center;
	padding:20px;
}

.emptymedia {
	display:none;
}

.emptywall {
	color:#fff;
	border-color:#fff;
	margin:10px 0px;
}


/* hover */

.rack-hover .emptyrack {
	border-color:#000;
}



/* racks */

.racks {
	position:relative;
	overflow:auto;
	padding:1px;
	margin:0px 0px 10px;
}
.ugenrack {
	border:solid 1px #0c7 !important;
	margin-bottom:5px;
}
.ugenrack .racktitle {
	background-color:#0c7 !important;
	color:white !important;
}

.rackunit { 
	padding: 20px 5px 0px 5px; 
	position:relative;
	margin-right:5px;
	margin-bottom:5px;
	float:left;
	min-height:94px;
	box-radius:border-box;
	background-color:#E5E5E5;
}

.rackcol { 
	margin: 2px; 
	padding: 2px; 
	display: inline-block;
 } 

.racklabel { 
	text-align: center; 
	font: normal 12px courier; 
	color:#333; 
	padding: 4px;
}

.racktitle { 
	font: normal 10px courier; 
	color: #888; text-align:left; 
	padding: 2px 6px; 
	margin:2px; 
	position:absolute; 
	top:0px; 
	left:0px; 
	background-color:#eee;
}

.closer {
	position:absolute;
	top:0px;
	right:0px;
	color:#fff;
	font-family:courier;
	font-size:8pt;
	background-color:#19d;
	padding:2px 4px 3px;
	line-height:8px;
	letter-spacing:0;
	cursor:pointer;
}




