
/* demo links */

body {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	background-color:#19d;
	font-family:"Quicksand", helvetica neue;
	text-align:center;
}

h1, button, footer {
	font-family:"Quicksand", helvetica neue;
	font-weight:100;
	color:white;
	text-align:center;
	margin:35px auto;
}

h1 {
	margin:70px auto 35px;
	font-size:25pt;
	letter-spacing:1px;
}

button {
	border:solid 2px #19d;
	padding:8px 32px;
	background-color:#fff;
	color:#19d;
	font-size:16pt;
	cursor:pointer;
	width:180px;
	text-align:center;
    -webkit-transition: border .2s;
    transition: border .2s;
}
button:hover {
	border:solid 2px #fff;
}
button:active {
	background-color:#19d;
	color:#fff;
}

footer {
	margin:50px auto;
	font-size:11pt;
	width:100%;
}



/* start page */

#shell {
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
}

.guides {
	margin:0 auto;
	height:400px;
	width:400px;
	position:relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.bguide, .sguide {
	position:absolute;
	background-color:white;
	color:#19d;
	text-align:center;
	padding:80px 40px;
	box-sizing:border-box;
	top:-65px;
	height:100%;
	width:100%;
	font-size:16pt;
	opacity:1;
	border:dashed 4px #19d;
}

.sguide {
	background-color:#333;
}

#sgarrow {
	-ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
     -webkit-transition: transform .5s;
    transition: all .5s;
    font-size:100px;
}


/* progress bar */

#nprogress {
	position:absolute;
	top:0px;
}

#nprogress .bar {
	background:white !important;
	height:3px !important;
	opacity:1;
	transition: transform 2s ease !important;
  	-webkit-transition: -webkit-transform 2s ease !important;
} 
#nprogress .peg {
	box-shadow:none !important;
	transition: transform 2s ease !important;
  	-webkit-transition: -webkit-transform 2s ease !important;
} 

#nprogress .spinner-icon {
  	border-top-color: #fff !important;
  	border-left-color: #fff !important;
}

/* splash */

#splash {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	background-color:#19d;
	color:#fff;
	font:300 100px 'Quicksand';
	z-index:10;
	text-align:center;
	display:table;
}

#splash span {
	display: table-cell;
  	vertical-align: middle;
}

