body {
	margin:0;
	padding:0;
	height:100%;
	background-color:#19d;
}

h1, button, footer {
	font-family:"Anonymous Pro";
	font-weight:100;
	color:white;
	text-align:center;
	margin:40px auto;
}

h1 {
	font-size:25pt;
	letter-spacing:1px;
}

button {
	border:solid 3px white;
	padding:7px 30px;
	background-color:#19d;
	font-size:19pt;
	cursor:pointer;
}
button:hover {
	background-color:white;
	color:#19d;
}
button:active {
	background-color:#ddd;
	color:#19d;
}

footer {
	position:absolute;
	bottom:10px;
	font-size:11pt;
	width:100%;
}